.customeContainer {
  max-width: 1310px;
  margin: auto;
}
.categoryHover {
  border-bottom: 4px solid white;
  transition: all 0.4s ease-in;
}
.categoryHover:hover {
  border-bottom: 4px solid #1976d2;
}
.descCategory {
  top: 25px;
  left: 30px;
}
.responsiveCategories{
  margin-left: 0;
  margin-right: 0;
}
