.customeContainer {
  max-width: 1310px;
  margin: auto;
}
/* .cardProduct {
  width: 18rem;
  margin-bottom: 1rem;
  border: 2px solid red;
} */
.cardImage {
  height: 350px;
}

.cardLayout {
  padding-right: 0;
  padding-left: 0;
  margin: 1rem;
}
