.iconFavorite {
  font-size: 1.6rem;
  opacity: 0.9;
  position: relative;
}

.divIcon {
  width: 2.8rem;
  height: 2.8rem;
  display: inline-block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms;
}
.divIcon:hover {
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.customeContainer {
  max-width: 1310px;
  margin: auto;
}
.inputSearchCustome {
  border: none;
}
.inputSearchCustome:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #ccc;
}
.spanSearchCustome {
  background-color: unset;
  padding-right: 0.8rem;
  font-size: 1.6rem;
}
.linkNav {
  margin: 0 0.5rem;
  color: black;
}
.linkNav:hover {
  text-decoration: none;
  color: #ff9500;
}
.activeLink {
  color: #ff9500;
}
.lengthProduct {
  position: absolute;
  right: 13px;
  top: 13px;
  background-color: #3769da;
  color: white;
  width: 21px;
  height: 22px;
  border-radius: 50%;
  font-size: 0.9rem;
}
