.iconFavorite {
  font-size: 1.6rem;
  margin: 0 1rem;
  opacity: 0.9;
}
.customeContainer {
  max-width: 1310px;
  margin: auto;
}
.inputSearchCustome {
  border: none;
}
.inputSearchCustome:focus {
  box-shadow: none;
  outline: none;
  border-bottom: 2px solid #ccc;
}
.spanSearchCustome {
  background-color: unset;
  padding-right: 0.8rem;
  font-size: 1.6rem;
}
.linkNav {
  margin: 0 0.5rem;
  color: black;
}
.linkNav:hover {
  text-decoration: none;
  color: #ff9500;
}
.activeLink {
  color: #ff9500;
}
