.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  padding: 5px 15px;
  width: 400px;
  border: none;
  background-color: #3769da;
  color: white;
}
.button:disabled {
  cursor: not-allowed;
  border: none;
  background-color: #c2cadf;
  color: white;
}
